html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden; 
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #b2002b;
}
.navbar{
	background-color: #fff !important;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.37);
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 0 5rem;
}

.navbar-brand{
	font-weight: 900;
	color: #b2002b !important;
	font-size: 35px;
}

.navbar-collapse{
	justify-content: flex-end;
}

.informacion{
	background-color: white;
	margin-left: 58rem;
	margin-top: 15px;
}

.btn-contact{
	color: #00421C;
	font-size: 15px;
	font-weight: 900;
}

a.info{
	font-weight: 900;
	color: #044211 !important;
}



.main-banner__text{
	display: flex;
	flex-direction: column;
    align-self: center;
}


.main-banner{
	display: flex;
	justify-content: space-between;
}

.main-banner__img {
	width: 1034px;
	height: 100vh;
}

.main-banner__img img{
	width: 100%;
	height: 100%;
}

.main-banner__text h1{
	font-weight: 900;
	font-size: 120px;
	color: #B2002B;
}

.main-banner__text p{
	font-weight: 900;
}

.main-banner__text {
	margin-left: 5rem;
	position: relative;
}

.main-banner__text a{
	color: #1c4b2b;
	font-size: 18px;
}
.main-banner__text a:hover{
	text-decoration: none;
}

.main-banner__text a i{
	font-size: 20px;
	padding-left: 1rem;
}
.main-paquetes h2{
	font-size: 40px;
}


.main-paquetes__text h2{
	font-weight: 900;
	text-align: center; 
}

.main-sobre__nosotros__text h3{
	font-weight: 900;
	text-align: center;
	font-size: 40px;
	padding: 5rem;
}


.circulo{
	border-radius: 0rem 4rem 0rem;
	width: 270px;
	background-color: #f7f7f7;
	box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.75);
	padding: 15px;
	display: flex;
	flex-direction: column;
	height: 270px;
}

.circulo img{
	
	height: 154px;
	object-fit: contain;
}

.circulo p{
	text-align: center;
	font-weight: 900;
	font-size: 25px;
}

.titulo__dos{
	font-size: 42px;
	font-weight: 900;
}

.main-text{
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
}

.main-text{
	width: 100%
}

.main-text p{
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

.main-titulo__dos{
	margin-top: 8rem;
	margin-left: 2rem;
}

.main-titulo__dos p{
	margin-top: 4rem;
}

.main-imagen__text img{
	width: 100%;
	height: 80%;
}

.main-text{
	margin-top: 10rem;
}

.titulo__distribucion{
	font-weight: 900;
	font-size: 40px;
	text-align: center;
	padding: 4rem;
}

.main-distribucion__text p{
	position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}


.main-distribucion__text p{
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

.imagen__distribucion img{
	width: 100%;
}

.main-imagen__text{
	width: 50vw;
}

.imagen__distribucion p{
	margin-top: 3rem;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

.content-slider__sobre__nosotros{
	display: flex !important;
	justify-content: center;
	outline: none;
}

.slider__sobre__nosotros .slick-prev:before,.slider__sobre__nosotros .slick-next:before{
	background-color: 
}

.main-registro__content{
	display: flex;
    justify-content: center;
    padding: 1rem;
}

.main-registro__content input{
    border-radius: 2rem;
    height: 47px;
    padding: 1rem;
    margin: 1rem;
    background-color: #f7f7f7;
    border: none;
    outline: none;
    font-weight: 900;
    width: 655px;
    height: 60px;

}

.main-registro__content textarea{
	border-radius: 2rem;
    height: 120px;
    padding: 1rem;
    margin: 1rem;
    background-color: #f7f7f7;
    border: none;
    outline: none;
    font-weight: 900;
    width: 655px;
    height: 200px;
}

.input{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4rem;
}

.titulo__registro{
	text-align: center;
	font-weight: 900;
	font-size: 40px;
}

.imagen__registro{
	width: 545px;
}

.imagen__registro img{
	width: 100%;
}

.parte__ultima{
	background-color: #00421c;
	width: 100%;
	padding: 8rem;
}

.main-parte__ultima{
	display: flex;
    justify-content: space-between;
}

.titulo__ultimo{
	font-weight: bolder;
	font-size: 133px;
	color: #fff;
}

.main-parte__ultima p{
	color: #fff;
	font-size: 25px;
	font-weight: 900;
}

.habilidades{
	display: flex;
}

.habilidades li{
	font-size: 30px;
    list-style: none;
    font-weight: 900;
    color: #fff;
    padding: 2rem;
}
.habilidades p{
	color: #fff;
	font-weight: 500;
}

.content-slider__paquetes{
	outline: none;
}

.content-text__paquetes{
	text-align: center;
}

.boton{
	text-align: center;
}

.content-slider__paquetes:hover{
	transition: 0.3s ease-in-out;
	background-color: #b2002b;
	border-radius: 0rem 4rem 0rem;

	
	transform: translateY(20px);
}
.content-slider__paquetes{
	transition: 0.3s ease-in-out;
	z-index: 4;
	display: flex !important;
	justify-content: center;
	padding: 2rem;
}
.slider-main__paquetes{
	border-radius: 0rem 4rem 0rem;
	height: auto;
	background-color: #f7f7f7;
}

.content-paquetes__card figure{
	border-radius: 50%;
}
.main-circulo{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #fff;
}


@media (min-width: 0px) and (max-width: 767px){
	.navbar{
		padding: 0 2rem;
	}

	.main-banner__text{
		margin-left:  2rem;
	}

	.main-banner__text h1{
		font-size: 40px;
		color: #b2002b;
		padding-top: 4rem; 
	}

	.main-banner__text p{
		font-size: 7px;
	}

	.main-banner__img{
		height: 33vh;
	}

	.main-banner__text a{
		font-size: 12px;
	}

	.main-banner__text a i {
    font-size: 13px;
    padding-left: 5px;
	}

	.main-paquetes h2{
		font-size: 25px;
	}

	.main-paquetes h2{
		font-size: 25px;
	}

	.main-sobre__nosotros__text h3{
		margin-top: 8px;
		font-size: 30px;
		padding: 3rem;
	}
	

	.circulo{
		width: 216px; 
		height: 250px;
	}

	.circulo p{
		font-size: 18px;
	}

	.main-titulo__dos{
		margin-top: 0;
		margin-left: 0;
	}

	.main-titulo__dos p{
		margin-top: 1rem;
		font-weight: 600;
	}

	.main-titulo__dos p{
		margin-top: 1rem;
	}

	.titulo__dos{
		font-size: 25px;
		text-align: center;
	}

	.main-text{
		flex-direction: column;
		margin-top: 5rem;
	}

	.main-text p{
		font-size: 12px;
		font-size: 15px;
	}

	.main-text p{
		font-size: 9px;
	}

	.main-imagen__text{
    	width: 100%;
    	padding: 1rem;
	}

	.titulo__distribucion {
		font-size: 21px;
		padding: 2rem;
	}

	.main-distribucion__text p{
		font-size: 9px;
		font-weight: 600;
	}

	.imagen__distribucion p{
		font-size: 9px;
		padding: 0rem;
		font-weight: 600;
	}

	.titulo__registro{
		font-size: 25px;
		padding: 2rem;
	}

	.input{
		padding: 1rem;
	}

	.main-registro__content{
		padding: 0rem;
	}
	
	.main-registro__content input{
		width: auto;
	}

	.main-registro__content textarea{
		width: auto;
		height: 120px;
	}

	.imagen__registro img{
		display: none;
	}

	.parte__ultima{
		padding: 2rem;
	}

	.parte__ultima{
		padding: 2rem;
	}

	.titulo__ultimo{
		font-size: 50px;
	}

	.main-parte__ultima p{
		font-size: 6px;
	}
	.habilidades li{
		font-size: 11px;
		padding: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.main-banner__img {
    height: 55vh;
	}

	.input{
		padding: 1rem;
	}
	
	.titulo__ultimo{
		font-size: 93px;
	}
	.habilidades li{
		font-size: 26px;
		padding: 1rem;
	}

	.main-parte__ultima p{
		font-size: 16px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.main-banner__img{
		height: 45vh;
	}

	.main-sobre__nosotros__text h3{
		margin-top: 5rem;
	}
	
	.titulo__dos{
		font-size: 55px;
	}
	
	.main-titulo__dos p{
		margin-top: 2rem;
	}
	.main-text p{
		font-size: 19px;
	}

	.main-titulo__dos{
		margin-top: 2rem;
	}

	.main-registro__content input{
		width: 520px;		
	}

	.main-registro__content textarea{
		width: 520px;
	}

	.input{
		padding: 2rem;
	}
}